

#secret-document{
  font-family:Garamond, serif;
  font-size:1.77rem;
  width:41vw;
  position: absolute;
  left:100px;
  top:390px;
}

.redacted{
  color:black;
  background-color: red;
  user-select:none;
}

.revealed{
color:red;
}

#image{
  position: absolute;
  height:1400px;
}
