/*********************************************

Here is a description of any special CSS used.
By default that's nothing.

**********************************************/
body{
  background-color: #346276;
  background-size: cover;
}

#haiku{
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

#line-1{
  position: absolute;
  left:0px;
  top:250px;
}

#line-2{
  position: absolute;
  left:0px;
  top:300px;
}

#line-3{
  position: absolute;
  left:0px;
  top:350px;
}

#start-button{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: +420px;
  margin-left: -350px;
  font-size: 3rem;
  background-color:white;
  color: grey;
}

#stop-button{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: +420px;
  margin-left: +250px;
  font-size: 3rem;
  background-color:white;
  color: grey;
}

#image{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 500px;
  margin-top: -100px;
  margin-left: -350px;
}
